header {
    background: $colour-primary;
    height: 50px;
    display: flex;
    align-items: center;
    width: 100%;
    position: fixed;
    z-index: 1000;
    & #header__logo__home {
        background-image: url("../img/logo/ohmyfood.png");
        background-size: 100%;
        width: 250px;
        height: 50px;
        margin: auto;
        background-repeat: no-repeat;
        margin-top: 7px;
    }
    & #header__logo {
        background-image: url("../img/logo/ohmyfood.png");
        background-size: 100%;
        width: 250px;
        height: 50px;
        margin: auto;
        background-repeat: no-repeat;
        margin-top: 7px;
    }
}