@mixin bouton {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 1.3em;
    // height: 60px;
    color: $colour-primary;
    background: linear-gradient($colour-2, $colour-1);
    border-radius: 50px;
    border: none;
    margin-bottom: 50px;
    transition: all 400ms ease-in-out;
    box-shadow: $box-shadow;
    padding: 20px 28px;
    cursor: pointer;
    & p {
        transition: all 400ms ease-in-out;
        transform: rotateX(0deg);
    }
    &:hover {
        background: linear-gradient(lighten( $colour-2, 10), lighten( $colour-1, 10));
        box-shadow: rgba(0, 0, 0, 0.16) 0px 6px 9px, rgba(0, 0, 0, 0.23) 0px 6px 9px;
        ;
    }
    &:hover p {
        transform: rotateX(360deg);
    }
}

@mixin logoHeart {
    margin-right: 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 2em;
    position: relative;
    &:hover .restaurant__card__description__logo__1 {
        opacity: 0;
    }
    &:hover .restaurant__card__description__logo__2 {
        opacity: 1;
    }
    &__1 {
        display: inline-block;
        position: relative;
        top: 50%;
        transition: all 400ms ease-in-out;
        left: 50%;
    }
    &__2 {
        display: inline-block;
        position: relative;
        background-image: linear-gradient($colour-1, $colour-2);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        top: -50%;
        opacity: 0;
        transition: all 400ms ease-in-out;
        left: 50%;
    }
}